<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="white">
      <p class="p-about">
        Project was done by <b>Mihalko Farhat</b> and <b>Mukatayev Tleuzhan</b>. This project
        was develop on "Fuzzy Sets and Logic" subject.
      </p>
      <p class="p-about">
        We want say big thanks for <b>Atsushi Inoue</b>.
      </p>
      <p class="p-about">
        <b>More about project:</b>
        Project developed as SPA(Single Page Application).
        <br>
        User can choose some options and our application recommended to him
        the computer, of course by using fuzzy sets and logic.
      </p>
    </div>
  </div>
</div>